.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 92px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
   
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(224, 224, 224);
}

.sidebar-link img{
    height: 24px;
    
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    padding-top: 8px;
}